.body{
  background-color: burlywood;
}

.name-YELLOW {
  border: 1px solid black;
  background-color: yellow;
  color: black;
}
.name-RED {
  border: 1px solid black;
  background-color: red;
  color: black;
}
.name-GREEN {
  border: 1px solid black;
  background-color: green;
  color: white;
}
.name-BLUE {
  border: 1px solid black;
  background-color: blue;
  color: white;
}

.rollDiceInfo{
  padding: 10px;
  background-color: rgba(52, 51, 49, 0.95);
  border: 3px solid black;
  width: 500px;
  position: relative;
  bottom: 350px;
  left: 800px;
}

.rollDiceInfo h4{
  color: white;
}

.rollDiceInfo h3{
  color: white;
}

.rollDiceInfo h2{
  color: white;
}

.box {
  background-color: #d9d9d9;
  border: 2px solid black;
}

