<body>

<button class="homepage playbutton" mat-raised-button routerLink="/playgame">Play Game</button>
</body>

<div class="container home">
  <p> Een frisse nieuwe kijk op mens erger je niet, waarbij het spel moeilijker wordt d.m.v. nieuwe regels waardoor de speler(s) worden gedwongen om hun strategische denkwijze te trainen en aan te passen.
  <p>Oftewel de introductie van mens erger je niet 2.0. Je leert kennis maken met onverwachte gebeurtenissen en daarop gelijk te anticiperen. </p>
  <p> Een frisse nieuwe kijk op mens erger je niet, waarbij het spel moeilijker wordt d.m.v. nieuwe regels waardoor de speler(s) worden gedwongen om hun strategische denkwijze te trainen en aan te passen.
  <p>Oftewel de introductie van mens erger je niet 2.0. Je leert kennis maken met onverwachte gebeurtenissen en daarop gelijk te anticiperen. </p>
</div>
<hr>
<div class="container">
  <p> Hier komt uitleg over de features.</p>
</div>
<hr>
<div class="container" id="about">
  <p> Dit is de introductie van team 14. Hier leer je over de teamleden van team 14.</p>
  <p> Ik ben lloyd larbi, ik ben de Scrummaster van team14. Mijn taak is om het team zodanig te leiden dat wij een goed product op de markt kunnen brengen.</p>
  <p> Ik ben 24 jaar en volg de studie Software Engineering en ik werk bij de KNMI.</p>

  <p> Dit is de introductie van team 14. Hier leer je over de teamleden van team 14.</p>
  <p> Ik ben lloyd larbi, ik ben de Scrummaster van team14. Mijn taak is om het team zodanig te leiden dat wij een goed product op de markt kunnen brengen.</p>
  <p> Ik ben 24 jaar en volg de studie Software Engineering en ik werk bij de KNMI.</p>

  <p> Dit is de introductie van team 14. Hier leer je over de teamleden van team 14.</p>
  <p> Ik ben lloyd larbi, ik ben de Scrummaster van team14. Mijn taak is om het team zodanig te leiden dat wij een goed product op de markt kunnen brengen.</p>
  <p> Ik ben 24 jaar en volg de studie Software Engineering en ik werk bij de KNMI.</p>

  <p> Dit is de introductie van team 14. Hier leer je over de teamleden van team 14.</p>
  <p> Ik ben lloyd larbi, ik ben de Scrummaster van team14. Mijn taak is om het team zodanig te leiden dat wij een goed product op de markt kunnen brengen.</p>
  <p> Ik ben 24 jaar en volg de studie Software Engineering en ik werk bij de KNMI.</p>
</div>
