
.header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    text-align: center;
    background: rgb(15, 117, 154);
    color: rgb(255, 255, 255);
    font-size: 25px;
  }
  
  .flex-wrap{
    flex: 1;
  }
  
  .subtitle {
    display: flex;
    justify-content: space-between;
  
  }
  
  .left-image {
    display: flex;
    justify-content: start;
  }
  
  .right-image {
    display: flex;
  
  }
  
  
  .left-subtitle{
    font-size: 1.5vw;
  }
  
  .right-subtitle{
    font-size: 1.5vw;
  }
  
  
  