<mat-toolbar color="primary">

  <div class="title">Mens Erger Je Niet <div class="mini">2.0</div></div>
  <span class="example-spacer"></span>
  <button mat-raised-button routerLink="/home">Home</button>
  <button mat-raised-button routerLink="/playgame">Play Game</button>
  <button mat-raised-button routerLink="'#about'">About us</button>
  <!--<button
    mat-raised-button
    aria-current="page"
    class="active"
    [routerLink]="['register']" routerLinkActive="active"
  >
    Register
  </button> -->

  <button
    mat-raised-button
    aria-current="page"
    class=" active"
    [routerLink]="['login']" routerLinkActive="active"
  >
    Log In/ Register
  </button>


 <!-- <button
    mat-raised-button
    aria-current="page"
    class=" active"
    [routerLink]="['reset-password']" routerLinkActive="active"
  >
    Reset Password
  </button>
-->
  <button mat-button class="help" (click)="modalService.openDialog()">
    <mat-icon> help </mat-icon>
  </button>

  <button
    mat-icon-button
    class="example-icon chat"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>chat</mat-icon>
  </button>

  <!-- </ul> -->


</mat-toolbar>

