<h2 mat-dialog-title>Spelregels</h2>
<mat-dialog-content class="mat-typography">

  <p> Er wordt gebruik gemaakt van 1 dobbelsteen.</p>
  <p> Het spel gaat met de klok mee.</p>
  <p> Je moet binnen 5 sec gooien want anders is je beurt voorbij.</p>
  <p> Vervolgens heb je dan 10 seconden om je pion te bewegen.</p>
  <p>De volgende speler is pas wanneer de beurt van de vorige speler is afgelopen. Dat houdt in dat hij heeft gegooid en zn pion heeft bewogen of als zn beurt voorbij is.</p>
  <p>Je moet een 6 gooien om een pion in het spel te krijgen. Vervolgens zal je dan ook met die pion gelijk moeten spelen.</p>
  <p>Er mag maximaal 1 pion op 1 plek staan zodat er ook geen blokkade gevormd kan worden.</p>
  <p>Mocht een pion op een plaats belanden die bezet wordt door een andere kleur moet het eerste pion van het speelveld af en moet er opnieuw een 6 gegooid worden voordat hij er weer in mag.
  <p>Bij 3 keer dezelfde ogen gooien gaat het pion dat het verst is op het veld van het speelveld af en moet er opnieuw een 6 gegooid worden voordat hij er weer in mag.
  <p>De tegenstander(s) kunnen op 3 manieren van het speelveld af gehaald worden. Door vooruit op een andere kleur te landen, zijwaarts of achteruit. Je speelt verder van waar het pion is geland.

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
