<div *ngIf="board?.players.length > 0; else noPlayers">
  <svg *ngIf="board != null"
       width = "100%"
       [attr.viewBox]='"-10 -10 " + 10*(viewPortDimension+2) + " " + 10*(viewPortDimension+2)' preserveAspectRatio="xMidYMin">

    <symbol id="pawnSymbol" width="12" height="20" x="-6" y="-15"
            stroke-width="1" fill="solid">
      <ellipse cx="6" cy="13" rx="4" ry="6"/>
      <circle cx="6" cy="6" r="3"/>
    </symbol>
<!--    this is the board + postion/coordinates (compelete board)-->
    <circle *ngFor="let position of positions; let i = index" [id]="'pos-'+i"
            [attr.cx]="10*position.x" [attr.cy]="10*position.y" r="5"
            stroke-width="2" stroke="black" fill="white"
            (click)="onPositionClick(position)" />

    <ng-container *ngFor="let player of board.players">
      <circle [attr.cx]="10*positions[player.startPosition].x" [attr.cy]="10*positions[player.startPosition].y" r="3"
              stroke-width="0" stroke="none" [attr.fill]="player.colorString" />
      <ng-container *ngFor="let pawn of player.thePawns">

        <use *ngIf="pawn.currentPositionIndex >= 0"
             xlink:href="#pawnSymbol"
             [attr.x]="10*positions[pawn.currentPositionIndex].x"
             [attr.y]="10*positions[pawn.currentPositionIndex].y"
             width="10"
             stroke="black" [attr.fill]="player.colorString"
             (click)="onPawnClick(pawn)"
        />
      </ng-container>
    </ng-container>
  </svg>
  <div class="rollDiceInfo">
    <h3>{{previousTurnMessage}}</h3>
    <h2>Player <span [ngClass]="'name-'+playerWithTurn.colorString">{{playerWithTurn.name}}</span> has the turn.</h2>
    <button class="btn btn-primary"[disabled]="board.latestDiceResult > 0" (click)="onRollDice()">Roll the dice</button>
    <h4 *ngIf="board.latestDiceResult == 0; else moveThePawn">Please roll the dice...</h4>
    <ng-template #moveThePawn>
      <h4>You have rolled {{board.latestDiceResult}}; Please click a pawn to move forward...</h4>
    </ng-template>
  </div>
</div>
<ng-template #noPlayers>
  <p>Select a game with active players</p>
</ng-template>
